<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings configSource="connections.config" />
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<system.diagnostics>
		<sources>
			<source name="CqlSharp.CqlConnection.Open" switchValue="All">
				<listeners>
					<add name="nlog" />
					<remove name="Default" />
				</listeners>
			</source>
			<source name="CqlSharp.CqlCommand.ExecuteReader" switchValue="All">
				<listeners>
					<add name="nlog" />
					<remove name="Default" />
				</listeners>
			</source>
			<source name="CqlSharp.Connection.ReadLoop" switchValue="All">
				<listeners>
					<add name="nlog" />
					<remove name="Default" />
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add name="nlog" type="NLog.NLogTraceListener, NLog" />
		</sharedListeners>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>