<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true" >
	<targets async="true">
		<target xsi:type="File" name="fTimers" fileName="${basedir}/logs/timers_${shortdate}.log" layout="${longdate} ${logger} ${message}" />
		<target xsi:type="File" name="fTestTrace" fileName="${basedir}/logs/test_trace_${shortdate}.log" layout="${longdate} ${logger} ${message}" />
		<target xsi:type="Console"
							name="fConsole"
							layout="${longdate} ${logger} ${message}" />		
		<target xsi:type="File" name="fCql" fileName="${basedir}/logs/cql_${shortdate}.log" layout="${longdate} ${logger} ${threadid} ${event-context:item=EventType} ${event-context:item=RelatedActivityID} ${message}" />		
	</targets>
	<rules>
		<logger name="CqlSharp.*" level="Trace" writeTo="fCql" />
		<logger name="CqlSharp.*" minlevel="Debug" writeTo="fCql" />
		<logger name="provider" minlevel="Trace" writeTo="fTimers,fConsole" />
		<logger name="TestRunner" minlevel="Trace" writeTo="fTestTrace" />
	</rules>
</nlog>