<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			autoReload="true" >
	<targets>
		<target xsi:type="File" name="fTimers" fileName="${basedir}/logs/timers_${shortdate}.log" layout="${longdate} ${logger} ${message}" />
		<target xsi:type="Console"
							name="fConsole"
							layout="${longdate} ${logger} ${message}" />		
		<target xsi:type="File" name="fCql" fileName="${basedir}/logs/cql_${shortdate}.log" layout="${longdate} ${logger} ${threadid} ${message}" />		
	</targets>
	<rules>
		<logger name="CqlSharp.*" minlevel="Trace" writeTo="fCql" />
		<logger name="provider" minlevel="Trace" writeTo="fTimers,fConsole" />
	</rules>
</nlog>